<%- include('./../inc/shared/head') -%>
    <%- include('./../inc/producer/aside') -%>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('../inc/producer/navbar') -%>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c1">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="far fa-calendar-alt"></i>
                                            </div>
                                            <div class="text margin-dash">
                                                <h2><%= eventsDashboard.all %></h2>
                                                <span>Eventos criados</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="text margin-dash">
                                                <h2><%= eventsDashboard.done %></h2>
                                                <span>Eventos Realizados</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="far fa-calendar-check"></i>
                                            </div>
                                            <div class="text margin-dash">
                                                <h2><%= eventsDashboard.pending %></h2>
                                                <span>Eventos pendentes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="title-1 m-b-25">Eventos recentemente criados</h4>
                                <div class="table-responsive table-responsive-data2 m-b-40">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>nome</th>
                                                <th>data</th>
                                                <th>Horário</th>
                                                <th>Categoria</th>
                                                <th>status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (events.length <= 0) { %> 
                                            <tr class="tr-shadow">
                                                <td>Nenhum evento encontrado.</td>
                                            </tr>
                                            <% } else { %>
                                                    <tr class="tr-shadow">
                                                        <td>
                                                            <div class="image img-40">
                                                                <img src="/images/<%= events[0].photo %>" alt="<%= events[0].name %>" />
                                                            </div>
                                                        </td>
                                                        <td><a href="/producers/event/<%= events[0].id %>"><%= events[0].name %></a></td>
                                                        <td><%= new Date(events[0].date).toLocaleDateString('pt-PT', {}) %></td>
                                                        <% let startTime = events[0].startTime.split(":")[0] + ":" + events[0].startTime.split(":")[1]%> 
                                                        <% let endTime = events[0].endTime.split(":")[0] + ":" + events[0].endTime.split(":")[1]%> 
                                                        <td><%= startTime %> às <%= endTime %></td>
                                                        <td><%= events[0].category.name %></td>
                                                        <td>
                                                            <% let dateNow = new Date().getTime(); let eventDate = new Date(events[0].date).getTime() %> 
                                                            <% if ( dateNow < eventDate ) { %> 
                                                            <span class="role user">Pendente</span>
                                                            <% } else { %>
                                                            <span class="role member">Realizado</span>
                                                            <% } %> 
                                                        </td>
                                                    </tr>
                                                    <tr class="spacer"></tr>
                                            <% } %>  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
            
            <!-- modal update user data -->
            <div class="modal fade" id="updateProducerDataModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalUpdateProducerDataLabel"
            aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediumUpdateProducerDataLabel">Alterar dados</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="updateProducerDataForm">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="container">
                                                <div class="row">
                                                    <input type="hidden" name="id" value="<%= producer.id %>">
                                                    <div class="form-group col-sm-6">
                                                        <label for="cc-payment" class="control-label mb-1">
                                                            Nome
                                                        </label>
                                                        <input name="name" type="text" value="<%= producer.name %>" class="form-control-sm form-control"
                                                            aria-required="true" aria-invalid="false">
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label for="cc-payment" class="control-label mb-1">
                                                            E-mail
                                                        </label>
                                                        <input name="email" type="text" value="<%= producer.email %>" class="form-control-sm form-control"
                                                            aria-required="true" aria-invalid="false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div>
                                                <button type="submit"
                                                    class="btn btn-lg btn-info btn-block">
                                                    <span id="payment-button-amount">Alterar dados</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal update user data -->

            <!-- modal change user password-->
            <div class="modal fade" id="changeProducerPasswordModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalChangeProducerPasswordLabel"
            aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="mediumChangeProducerPasswordLabel">Alterar Senha</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="changeProducerPasswordForm">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="container">
                                                <div class="row">
                                                    <input type="hidden" name="id" value="<%= producer.id %>">
                                                    <div class="form-group col-sm-6">
                                                        <label for="cc-payment" class="control-label mb-1">
                                                            Nova senha
                                                        </label>
                                                        <input name="password" type="password" class="form-control-sm form-control"
                                                            aria-required="true" aria-invalid="false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div>
                                                <button type="submit"
                                                    class="btn btn-lg btn-info btn-block">
                                                    <span id="payment-button-amount">Alterar senha</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end modal change user password-->
        </div>

<%- include('./../inc/shared/footer') -%>
<script src="/js/dashboard.js"></script>