<%- include('./../inc/shared/head') -%>
    <%- include('./../inc/producer/aside') -%>
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('./../inc/producer/navbar') -%>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Meus eventos</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <button class="au-btn-filter">
                                            <i class="zmdi zmdi-filter-list"></i>filters
                                        </button>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <a href="#" class="au-btn au-btn-icon au-btn--green au-btn--small"
                                            data-toggle="modal" data-target="#createEventModal">
                                            <i class="zmdi zmdi-plus"></i>Novo Evento
                                        </a>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>name</th>
                                                <th>Data</th>
                                                <th>Horário</th>
                                                <th>Categoria</th>
                                                <th>Estado</th>
                                                <th>Total de bilhetes</th>
                                                <th>Bilhete Preço</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% events.forEach( event => { %> 
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="/images/<%= event.photo %>" alt="<%= event.name %>" />
                                                    </div>
                                                </td>
                                                <td><a href="/producers/event/<%= event.id %>"><%= event.name %></a></td>
                                                <td><%= event.date %></td>
                                                <% let startTime = event.startTime.split(":")[0] + ":" + event.startTime.split(":")[1]%> 
                                                <% let endTime = event.endTime.split(":")[0] + ":" + event.endTime.split(":")[1]%> 
                                                <td><%= startTime %> às <%= endTime %></td>
                                                <td><%= event.category.name %></td>
                                                <td>
                                                    <% let dateNow = new Date().getTime(); let eventDate = new Date(event.date).getTime() %> 
                                                    <% if ( dateNow < eventDate ) { %> 
                                                    <span class="role user">Pendente</span>
                                                    <% } else { %>
                                                    <span class="role member">Realizado</span>
                                                    <% } %> 
                                                </td>
                                                <td><%= event.capacity %></td>
                                                <td><% if (event.price === 0) { %> Grátis <% } else { %>  <%= event.price %> Akz <% } %></td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Editar">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Eliminar">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Imagem">
                                                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <% }) %> 
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

        <!-- modal create event -->
        <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="mediumModalLabel">Criar evento</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/producers/events" method="post" novalidate="novalidate" id="createEventForm">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="container">
                                            <div class="row">
                                                <input name="producerId" type="hidden" value="<%= producer.id %>">
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Nome
                                                    </label>
                                                    <input name="name" type="text" class="form-control-sm form-control"
                                                        aria-required="true" aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-name" class="control-label mb-1">Categoria</label>
                                                    <select name="categoryId" id="select"
                                                        class="form-control-sm form-control">
                                                        <option disabled selected>Escolha</option>
                                                        <% categories.forEach( category => { %> 
                                                        <option value="<%= category.id %>"><%= category.name %></option>
                                                        <% }) %> 
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Data
                                                    </label>
                                                    <input name="date" type="date" class="form-control-sm form-control"
                                                        aria-required="true" aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Horário de início
                                                    </label>
                                                    <input name="startTime" type="time"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Horário de termino
                                                    </label>
                                                    <input name="endTime" type="time"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Preço
                                                    </label>
                                                    <input name="price" type="number"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Número de bilhetes
                                                    </label>
                                                    <input name="capacity" type="number"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Provincia
                                                    </label>
                                                    <input type="text" name="province" class="form-control-sm form-control">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Municipio
                                                    </label>
                                                    <input name="county" type="text"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Bairro
                                                    </label>
                                                    <input name="district" type="text"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Rua
                                                    </label>
                                                    <input name="street" type="text"
                                                        class="form-control-sm form-control" aria-required="true"
                                                        aria-invalid="false">
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="cc-payment" class="control-label mb-1">
                                                        Descrição
                                                    </label>
                                                    <textarea name="description" type="text" row="5"
                                                        class="form-control-sm form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div>
                                            <button id="payment-button" type="submit"
                                                class="btn btn-lg btn-info btn-block">
                                                <span id="payment-button-amount">Criar evento</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary">Confirm</button>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- end modal create event -->
    </div>
<%- include('./../inc/shared/footer') -%>

<script src="/js/my-events.js"></script>