<%- include('./../inc/shared/head') -%>
    <%- include('./../inc/user/aside') -%>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('./../inc/user/navbar') -%>
            <%- include('./../inc/user/page-title') -%>

            <section class="statistic">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="card">
                                    <img class="card-img-top image-height" src="/images/festa-musica.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="/users/buy-ticket"><h4 class="card-title mb-3">Festa da música</h4></a>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make
                                            up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="card">
                                    <img class="card-img-top image-height" src="/images/festa-das-cores.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">Festa das cores</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="card">
                                    <img class="card-img-top image-height" src="/images/show-de-semba.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">Show de semba</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="card">
                                    <img class="card-img-top image-height" src="/images/festa-musica.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="buy-ticket.html"><h4 class="card-title mb-3">Festa da música</h4></a>
                                        <p class="card-text">Some quick example text to build on the card title and
                                            make
                                            up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="card">
                                    <img class="card-img-top image-height" src="/images/festa-das-cores.jpeg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">Festa das cores</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4">
                                <div class="card">
                                    <img class="card-img-top image-height" src="/images/show-de-semba.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title mb-3">Show de semba</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make
                                            up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
        </div>
<%- include('./../inc/shared/footer')  -%> 