<%- include('./../inc/shared/head') -%>
<%- include('./../inc/user/aside') -%>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('./../inc/user/navbar') -%>
            <%- include('./../inc/user/page-title') -%>

            <div class="main-content2">
                <!-- DATA TABLE-->
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>nome</th>
                                                <th>data</th>
                                                <th>Estado</th>
                                                <th>Bilhete Preço</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (tickets.length === 0) { %>
                                                <tr>Sem bilhetes comprados</tr>
                                            <% } else { %> 
                                            <% tickets.forEach( ticket => { %>  
                                            <tr class="tr-shadow" data-row="<%= JSON.stringify({ticket, user}) %>">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="/images/<%= ticket.photo %>" alt="<%= ticket.name %>" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <% let dateNow = new Date().getTime(); let eventDate = new Date(ticket.date).getTime() %> 
                                                    <% if ( dateNow < eventDate ) { %> 
                                                    <a href="/users/buy-ticket/<%= ticket.id  %>"><%= ticket.name %></a>
                                                    <% } else { %>
                                                        <%= ticket.name %>
                                                    <% } %> 
                                                </td>
                                                <td><%= new Date(ticket.date).toLocaleDateString('pt-PT', {}) %></td>
                                                <td>
                                                    <% if ( dateNow < eventDate ) { %> 
                                                        <% if (ticket.isApproved == null) { %>
                                                            <span class="role user">Pendente</span>
                                                        <% } else if (ticket.isApproved == true) { %>
                                                            <span class="role member">Aprovado</span>
                                                        <% } else {%>
                                                            <span class="role admin">Rejeitado</span>
                                                        <% } %>  
                                                    <% } else { %>
                                                    <span class="role admin">Inválido</span>
                                                    <% } %> 
                                                </td>
                                                <td><%= ticket.price %> Akz</td>
                                                <% if ( dateNow < eventDate ) { %> 
                                                <% if (ticket.isApproved == true) { %>
                                                <td>
                                                    <button class="item downloadTicket" data-toggle="tooltip" data-placement="top"
                                                    title="Baixar o bilhete">
                                                        <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                                                    </button>
                                                </td>
                                                <% } %>
                                                <% } %>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <% }) %> 
                                            <% } %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END DATA TABLE-->
            </div>
        </div>
<%- include('./../inc/shared/footer')  -%>
<script src="/js/my-ticket.js"></script>