<%- include('./../inc/shared/head') -%>
<%- include('./../inc/user/aside') -%>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('./../inc/user/navbar') -%>
            <%- include('./../inc/user/page-title') -%>

            <div class="main-content2">
                <!-- DATA TABLE-->
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>nome</th>
                                                <th>data</th>
                                                <th>Estado</th>
                                                <th>Bilhete Preço</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (tickets.length === 0) { %>
                                                <tr>Sem bilhetes comprados</tr>
                                            <% } else { %> 
                                            <% tickets.forEach( ticket => { %>  
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="/images/<%= ticket.event.photo %>" alt="<%= ticket.event.name %>" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <% let dateNow = new Date().getTime(); let eventDate = new Date(ticket.event.date).getTime() %> 
                                                    <% if ( dateNow < eventDate ) { %> 
                                                    <a href="/users/buy-ticket/<%= ticket.event.id  %>"><%= ticket.event.name %></a>
                                                    <% } else { %>
                                                        <%= ticket.event.name %>
                                                    <% } %> 
                                                </td>
                                                <td><%= ticket.event.date %></td>
                                                <td>
                                                    <% if ( dateNow < eventDate ) { %> 
                                                    <span class="role member">Válido</span>
                                                    <% } else { %>
                                                    <span class="role admin">Inválido</span>
                                                    <% } %> 
                                                </td>
                                                <td><%= ticket.event.price %> Akz</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <% }) %> 
                                            <% } %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END DATA TABLE-->
            </div>
        </div>
<%- include('./../inc/shared/footer')  -%>