<%- include('../inc/shared/head') -%>
<%- include('../inc/user/aside') -%>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('../inc/user/navbar') -%>
            <%- include('../inc/user/page-title') -%>

            <div class="main-content2">
                <!-- DATA TABLE-->
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>nome</th>
                                                <th>data</th>
                                                <th>Estado</th>
                                                <th>Bilhete Preço</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="images/festa-musica.jpeg" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Festa da música</td>
                                                <td>2018-09-27 02:12</td>
                                                <td>
                                                    <span class="status--process">Válido</span>
                                                </td>
                                                <td>15.000 Akz</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="images/festa-musica.jpeg" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Festa da música</td>
                                                <td>2018-09-27 02:12</td>
                                                <td>
                                                    <span class="status--process">Válido</span>
                                                </td>
                                                <td>15.000 Akz</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>
                                                    <div class="image img-40">
                                                        <img src="images/show-de-semba.jpg" alt="John Doe" />
                                                    </div>
                                                </td>
                                                <td>Show de semba</td>
                                                <td>2018-09-27 02:12</td>
                                                <td>
                                                    <span class="status--denied">Inválido</span>
                                                </td>
                                                <td>10.000 Akz</td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- END DATA TABLE-->
            </div>
        </div>
<%- include('../inc/shared/footer')  -%>